.sectionThree {
    display: flex;
    margin-bottom: 30px;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.sectionThree h1 {
    font-weight: 600;
}

.sectionThree-container {
    display: flex;
    width: 87%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.sectionThree-container .card {
    width: 370px;
    height: 280px;
    background:
        linear-gradient(#fff, #fff) padding-box,
        linear-gradient(to right, #60C8C9, #401F70) border-box;
    border: 3px solid transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.sectionThree-container .card P {
    text-align: center;
    font-size: 14px;
}

.sectionThree-container .card .icon {
    font-size: 60px;
    border-radius: 25px;
    background: linear-gradient(to right, #60C8C9, #401F70);
    color: white;
    padding: 20px;
    display: flex;
}

.sectionThree-container .card h6 {
    font-size: 20px;
}

.titlesectionThree {
    display: flex;
    flex-direction: column;
    align-items: center;
}