.caption {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title{
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: center;
}

.title h3 {
    font-size: 45px;
    font-weight: 600;
    
}

.title p{
    font-size: 20px;
}

.carousel {
    color: black;
}

