.header {
    font-size: 30px;
}

.logo-threesteps {
    display: flex;
    align-items: center;
}

.logo-threesteps img {
    width: 200px;
}

.logo {
    width: min-content;
}

.header-up {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar ul {
    display: flex;
    gap: 20px;
    text-decoration: none;
    list-style-type: none;
}

.navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 15px;
}

.contact {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
}