.sectionFour h1 {
    text-align: center;
}

.sectionFour {
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionFour-container {
    width: 87%;
}

.sectionFour-container p {
    text-align: center;
    padding-top: 20px;
    font-size: 16px;
}

.analyz-title h4 {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-weight: 700;

}

.analyz {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 50%;
}

.sectionFour-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.analyz-icon {
    font-size: 60px;
    border-radius: 25px;
    background: linear-gradient(to right, #60C8C9, #401F70);
    color: white;
    padding: 20px;
    display: flex;
}

.analyz-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 500px;
}

.analyz-title h5 {
    display: flex;
    justify-content: center;
}