.sectionFour h1 {
    text-align: center;
}

.sectionFour{
    padding: 30px;
}
.sectionFour-container p {
    text-align: center;
    padding-top: 20px;
}

.analyz-card h4 {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.analyz {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 40%;
}

.sectionFour-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.analyz-icon{
    font-size: 70px;
    border-radius: 25px;
     background: linear-gradient(to right, #60C8C9, #401F70);
     color: white;
     padding: 20px;
     display: flex;
    
}

.analyz-card{
    display: flex;
    flex-direction: column;
    align-items: center;   
    gap: 20px;
}