.sectionTwo {
    text-align: center;
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionTwo h1 {
    font-weight: 600;
}

.slider {
    width: 80%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}


.slider-track {
    display: flex;
    gap: 20px;
    animation: slide 30s linear infinite;
}

.slider-track .card {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: #f5f5f5;
    border-radius: 10px;
    min-width: 150px;
    text-align: center;
    gap: 10px;
    cursor: pointer;
}


.slider-track .card img {
    width: 150px;
    height: 120px;
    object-fit: contain;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }


}