.sectionFive {
    text-align: center;
    margin-bottom: 30px;
}
.sectionFive h1{
    font-weight: 600;
}

.sectionFive-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.sectionFive .five-icon {
    font-size: 60px;
    display: flex;
    position: relative;
    
}

/* .sectionFive .star-icon{
    position: absolute;
    top: 40px;
    font-size: 30px;
} */
