.sectionFive {
  text-align: center;
  padding: 50px 20px;
  background: #f5f5f5;
}

.sectionFive h1 {
  color: #401F70;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 700;
}

.sectionFive p {
  color: #555;
  margin-bottom: 30px;
  font-size: 1rem;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  perspective: 1000px;
}

.card {
  width: 300px;
  padding: 20px;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.5s ease, opacity 0.5s ease, box-shadow 0.5s ease;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.card h4 {
  color: #401F70;
  margin-bottom: 8px;
  font-size: 1.1rem;
}

.card p {
  color: #333;
  font-size: 0.95rem;
}


.center-card {
  transform: scale(1.1);
  border: 2px solid #401F70;
  font-weight: bold;
  opacity: 1;
  box-shadow: 0 8px 20px rgba(64, 31, 112, 0.3);
  z-index: 2;
}


.side-card {
  transform: scale(0.9);
  opacity: 0.6;
  background: #f9f9f9;
  z-index: 1;
}

.dots {
  margin-top: 25px;
}

.dot {
  display: inline-block;
  width: 30px;
  height: 10px;
  margin: 0 6px;
  background: #ccc;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.dot.active {
  background: #401F70;
  width: 60px;
}

.avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 15px;
  display: block;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right, #60C8C9, #401F70) border-box;
  border: 3px solid transparent;
}