.sectionFive {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionFive h1 {
    font-weight: 600;
}

.sectionFive-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}


.sectionFive .five-icon {
    font-size: 60px;
    display: flex;
}

.sectionFive .star-icon {
    font-size: 30px;
    display: flex;
}

.icon-five {
    border-radius: 25px;
    background: linear-gradient(to right, #60C8C9, #401F70);
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.card-commentary {
    width: 300px;
    height: 400px;
    border: 1px solid black;
}


.cards-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    gap: 20px;
}

.card-item {
    width: 350px;
    height: 350px;
    padding: 25px;
    border-radius: 12px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    transition: 0.3s ease;
    cursor: pointer;
    font-weight: 600;

}

.center-card {
    transform: scale(1.1);
    font-weight: 800;
    background:
        linear-gradient(#fff, #fff) padding-box,
        linear-gradient(to right, #60C8C9, #401F70) border-box;
    border: 3px solid transparent;
}

.side-card {
    opacity: 0.6;
    background:
        linear-gradient(#fff, #fff) padding-box,
        linear-gradient(to right, #60C8C9, #401F70) border-box;
    border: 2px solid transparent;
}

.dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 15px;
}

.dot {
    width: 35px;
    height: 7px;
    border-radius: 10px;
    background: #d3d3d3;
    cursor: pointer;
    transition: .3s;
}

.dot.active {
    background: #401F70;
}